<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="animate.css" version="3.3.0.0" targetFramework="net481" />
  <package id="Antlr" version="3.5.0.2" targetFramework="net481" />
  <package id="AutoMapper" version="10.1.1" targetFramework="net481" />
  <package id="bootbox" version="4.3.0" targetFramework="net481" />
  <package id="bootstrap" version="3.4.1" targetFramework="net481" />
  <package id="bootstrap.daterangepicker" version="2.1.24.1" targetFramework="net481" />
  <package id="bootstrap.less" version="3.4.1" targetFramework="net481" />
  <package id="Bootstrap.v3.Datetimepicker" version="4.17.49" targetFramework="net481" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net481" />
  <package id="EntityFrameworkPaginate" version="1.2.0" targetFramework="net481" />
  <package id="EPPlus" version="6.2.4" targetFramework="net481" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net481" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net481" />
  <package id="IdentityModel" version="6.1.0" targetFramework="net481" />
  <package id="jQuery" version="3.7.0" targetFramework="net481" />
  <package id="jquery.nanoscroller" version="0.8.1" targetFramework="net481" />
  <package id="jQuery.Validation" version="1.19.5" targetFramework="net481" />
  <package id="Microsoft.ApplicationInsights" version="2.21.0" targetFramework="net481" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.4.0" targetFramework="net481" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.21.0" targetFramework="net481" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.21.0" targetFramework="net481" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.21.0" targetFramework="net481" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.21.0" targetFramework="net481" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.21.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.4" targetFramework="net481" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.3" targetFramework="net481" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.4" targetFramework="net481" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.9" targetFramework="net481" />
  <package id="Microsoft.AspNet.Razor" version="3.2.9" targetFramework="net481" />
  <package id="Microsoft.AspNet.TelemetryCorrelation" version="1.0.8" targetFramework="net481" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="4.1.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="7.0.4" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Http" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="7.0.1" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="2.3.2" targetFramework="net481" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="4.0.0" targetFramework="net481" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net481" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.2.2" targetFramework="net481" />
  <package id="Microsoft.Owin.Security" version="4.2.2" targetFramework="net481" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.2.2" targetFramework="net481" />
  <package id="Microsoft.Owin.Security.Facebook" version="4.2.2" targetFramework="net481" />
  <package id="Microsoft.Owin.Security.Google" version="4.2.2" targetFramework="net481" />
  <package id="Microsoft.Owin.Security.MicrosoftAccount" version="4.2.2" targetFramework="net481" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.2.2" targetFramework="net481" />
  <package id="Microsoft.Owin.Security.Twitter" version="4.2.2" targetFramework="net481" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net481" />
  <package id="Modernizr" version="2.8.3" targetFramework="net481" />
  <package id="Moment.js" version="2.29.4" targetFramework="net481" />
  <package id="MvcSiteMapProvider.MVC5" version="4.6.26" targetFramework="net481" />
  <package id="MvcSiteMapProvider.MVC5.Core" version="4.6.26" targetFramework="net481" />
  <package id="MvcSiteMapProvider.Web" version="4.6.26" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="NReco.PdfGenerator" version="1.2.1" targetFramework="net481" />
  <package id="numeral" version="2.0.4" targetFramework="net481" />
  <package id="OpenAI" version="1.7.2" targetFramework="net481" />
  <package id="Owin" version="1.0" targetFramework="net481" />
  <package id="pace.js" version="0.7.8" targetFramework="net481" />
  <package id="popper.js" version="1.16.1" targetFramework="net481" />
  <package id="Spin.js" version="2.3.2.1" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net481" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net481" />
  <package id="System.Data.SqlClient" version="4.8.5" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.2" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="7.0.2" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
  <package id="toastr" version="2.1.1" targetFramework="net481" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net481" />
  <package id="WebGrease" version="1.6.0" targetFramework="net481" />
</packages>