@{
    ViewBag.Title = "Chat GPT Context";
}
@section Styles{
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/Plugins/Dhtmlx/Skins/material/dhtmlx.css" rel="stylesheet" />
    <link href="~/Plugins/Dhtmlx/Custom/material_custom.css" rel="stylesheet" />
    <style type="text/css">
        .not_m_line {
            white-space: normal !important;
        }

        .panel-body {
            padding: 15px 10px 0px !important;
        }

        .panel-footer {
            border-color: rgb(0 0 0 / 10%) !important;
        }

        .select2-dropdown {
            text-align: left;
        }

        #segmentContainer {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: auto;
        }

        #segmentPreview {
            padding: 10px;
            position: relative;
            width: 100%;
            height: 100%;
            overflow: auto;
        }

        #tagsContainer {
            overflow: hidden;
        }

            #tagsContainer .SegmentTag {
                margin: 4px;
                padding: 4px 6px;
                font-size: 85%;
                display: inline-block;
            }

                #tagsContainer .SegmentTag:hover {
                    cursor: pointer;
                }

        .objbox {
            overflow-x: hidden !important;
            overflow-y: auto !important;
        }

        #segmentList {
            width: 100%;
            height: 100%;
            background-color: lightcyan;
            overflow-x: auto !important;
            overflow-y: auto !important;
        }

        .pagination {
            margin: 5px !important;
        }


        #dhxGridPaging {
            display: block;
            height: 50px;
        }

        #RecetaIngModal .modal-body {
            min-height: 600px;
        }

        .error {
            background-color: #e20000;
            color: #fff;
        }

        /* Large desktops and laptops */
        @@media (min-width: 1200px) {
        }

        /* Landscape tablets and medium desktops */
        @@media (min-width: 992px) and (max-width: 1199px) {
        }

        /* Portrait tablets and small desktops */
        @@media (min-width: 768px) and (max-width: 991px) {
        }

        /* Landscape phones and portrait tablets */
        @@media (max-width: 767px) {
        }

        /* Portrait phones and smaller */
        @@media (max-width: 480px) {
        }
    </style>
}
<div class="panel panel-primary">
    <div id="MainContainer" class="panel-body pad-no">
    </div>
</div>
<!-- /.modal -->
@Html.Partial("~/Views/ChatGptContext/ModalFormChatGptContext.cshtml")
@section Scripts {
    <script src="~/Plugins/Dhtmlx/dhtmlx.js"></script>
    <script src="~/Plugins/Dhtmlx/dhx_hOnline.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/Scripts/WebApp/chatGPTContext.js"></script>
}