
@{
    ViewBag.Title = "Soporte Técnico";
}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-body text-center mar-top">
            <div class="panel-body">
                <img src="~/Content/images/company/logo/support-logo.png" />
                <h1 class="text-main pad-btm pad-top">Soporte Técnico</h1>
                <hr />
                <h4>Contacto</h4>
                <hr />

                <div class="row pad-top">
                    <div class="col-md-2 col-md-offset-3">
                        <div class="panel">
                            <div class="panel-body text-center">
                                <div class="pad-ver mar-top text-main"><i class="fas fa-envelope icon-4x"></i></div>
                                <p class="text-lg text-semibold mar-no text-main">Email</p>
                                <p class="text-sm">soporte@hermosilloonline.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="panel">
                            <div class="panel-body text-center">
                                <div class="pad-ver mar-top text-main"><i class="fas fa-phone icon-4x"></i></div>
                                <p class="text-lg text-semibold mar-no text-main">Teléfono</p>
                                <p class="text-sm">(812)-165-2676</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="panel">
                            <div class="panel-body text-center">
                                <div class="pad-ver mar-top text-main"><i class="fas fa-map-marker icon-4x"></i></div>
                                <p class="text-lg text-semibold mar-no text-main">Ubicación</p>
                                <p class="text-sm">José Maria Morelos y Pavón 7, La Víctoria, 83304</p>
                                <p class="text-sm">Hermosillo, Sonora, México</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
