@{
    ViewBag.Title = "Chat GPT Prompt";
}
@section Styles{
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/Plugins/Dhtmlx/Skins/material/dhtmlx.css" rel="stylesheet" />
    <link href="~/Plugins/Dhtmlx/Custom/material_custom.css" rel="stylesheet" />
    <style type="text/css">
        .not_m_line {
            white-space: normal !important;
        }

        .panel-body {
            padding: 15px 10px 0px !important;
        }

        .panel-footer {
            border-color: rgb(0 0 0 / 10%) !important;
        }

        .select2-dropdown {
            text-align: left;
        }

        #promptContainer {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: auto;
        }

        .resultHtml div p {
            color: #212020
        }

        .resultHtml div h1, h2, h3, h4, h5 {
            color: #212020;
        }

        .objbox {
            overflow-x: auto !important;
            overflow-y: auto !important;
        }

        #promptList {
            width: 100%;
            height: 100%;
            background-color: lightcyan;
            overflow-x: auto !important;
            overflow-y: auto !important;
        }

        ul#seoList {
            display: flex;
        }

            ul#seoList li {
                flex: 1;
                text-align: center;
            }

        .error {
            background-color: #e20000;
            color: #fff;
        }

        /* Large desktops and laptops */
        @@media (min-width: 1200px) {
        }

        /* Landscape tablets and medium desktops */
        @@media (min-width: 992px) and (max-width: 1199px) {
        }

        /* Portrait tablets and small desktops */
        @@media (min-width: 768px) and (max-width: 991px) {
        }

        /* Landscape phones and portrait tablets */
        @@media (max-width: 767px) {
        }

        /* Portrait phones and smaller */
        @@media (max-width: 480px) {
        }
    </style>
}
<div class="panel">
    <div id="MainContainer" class="panel-body pad-no">
    </div>
</div>
<!-- /.modal -->
@Html.Partial("~/Views/ChatGptPrompt/ModalFormChatGptPrompt.cshtml")
@Html.Partial("~/Views/ChatGptPrompt/ModallogPrompts.cshtml")
@Html.Partial("~/Views/ChatGptPrompt/ModalSeoStatsPrompts.cshtml")
@section Scripts {
    <script src="~/lib/countable/Countable.min.js"></script>
    <script src="~/Plugins/Dhtmlx/dhtmlx.js"></script>
    <script src="~/Plugins/Dhtmlx/dhx_hOnline.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/Scripts/WebApp/chatGPTPrompt.js"></script>
}