<div id="ModalLogs" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="modal-loading" style="display:none;">
                <span class="modal-spinner" style="display: block;"><i class='fa fa-spinner fa-spin fa-5x fa-fw'></i></span>
            </div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" style="height:650px;">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Event Info</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td>Error 01: Desc error</td>
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td>Error 01: Desc error</td>
                                </tr>
                                <tr>
                                    <td class="text-center">3</td>
                                    <td>Error 01: Desc error</td>
                                </tr>
                                <tr>
                                    <td class="text-center">4</td>
                                    <td>Error 01: Desc error</td>
                                </tr>
                                <tr>
                                    <td class="text-center">5</td>
                                    <td>Error 01: Desc error</td>
                                </tr>
                                <tr>
                                    <td class="text-center">6</td>
                                    <td>Error 01: Desc error</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default btn-danger pull-right" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>